# Editors
*~
*.bak
*.kate-swp
*.swp

# Python
__pycache__/
*.pyc
*.pyo

# Documents
*.xoj
*.pdf

# Translation:
*.h
*.mo
*.pot

# virtual environment
/.venv/
/venv/

# Packaging
/build/
/dist/
/MANIFEST
